/*
============
Reset
============
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
============
Container
============
*/

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 6.25rem;
  width: 6.25em;
}